<div data-role="page" id="mainpage">

<div data-role="header">
  <h1>View My Friends</h1>
  <%= link_to 'Home', home_menu_path, {"class" => "ui-btn-left", "data-icon"=>"home"} %>
  <%= link_to 'Add', '/add_friend', {"class" => "ui-btn-right", "data-icon"=>"plus"} %>
</div>

	


<div data-role="content" class="ui-content" role="main">
<!-- When choice is chosen, add to user's list of items of interest. -->

<% if not @hash.empty?%>
<div class='filter-list'>
<ul data-role="listview" data-filter="true" class="ui-listview" id="list">
<% @hash.keys.each do |group| %>
	<li data-role="list-divider" role="heading" class="ui-li ui-li-divider ui-btn ui-bar-a" "data-theme"='a'><%= group %> </li>
  	<% @hash[group].each do |user| %>
        <li>
          <%= link_to user[:name], "/userview" + user[:uri], {:id => '#', :class => 'ui-link-inherit', "data-theme" => 'e'}%>
          <%= link_to 'Delete', "/friends/delete" + user[:uri], {'data-ajax' => 'false', "data-icon" => "minus", "data-theme" => 'e'} %>
        </li>
</ul>
</div>
        <% end %>
        <% end %>

<% else %>
<h2> You currently have no friends. Add one! </h2>
<% end %>
</ul>
</div>

</div>

</div>
