<div data-role="page" id="mainpage" class="ui-page ui-body-c ui-page-active" style="min-height: 562px; ">
    <div data-role="header" data-theme="d" data-position="inline" class="ui-header ui-bar-d" role="banner">
			<% @entity = Entity.where(:uri => "/" + params[:uri])[0] %>
			<% type = @entity.type %>
    <h1 class="ui-title" tabindex="0" role="heading" aria-level="1">Add Synergy <%= type.titleize %></h1>
		</div>

		<div data-role="content" data-theme="c" class="ui-content ui-body-c" role="main">
			<h1><%= type.titleize %> Added to your Collection!</h1>
			<!-- <p>This is a regular page, styled as a dialog. To create a dialog, just link to a normal page and include a transition and <code>data-rel="dialog"</code> attribute.</p> -->
			<% if type == 'thing' %>
			<%= link_to things_all_path, {'data-role' => "button", 'data-theme' => "b", 'class' => "ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b"} do %><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">See My Thing Collection</span></span><% end %> 
		 	<% else %>
			<%= link_to spaces_all_path, {'data-role' => "button", 'data-theme' => "b", 'class' => "ui-btn ui-btn-corner-all ui-shadow ui-btn-up-b"} do %><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">See My Space Collection</span></span><% end %> 
			<% end %>
			<%= link_to home_menu_path, {'data-role'=>'button', 'data-theme'=>"c", 'class' => "ui-btn ui-btn-corner-all ui-shadow ui-btn-up-c"} do %> <span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Go to Home Menu</span></span><%end%>    

		</div>
	</div>
