<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Synergy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "d3.js" %>
  <%= javascript_include_tag 'jquery.mobile-1.0b2.js' %>
  <%= javascript_include_tag "custom_scripting.js" %>
  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag "jquery.mobile-1.0b2.css" %>
<style type='text/css'>
.filter-list a.ui-link-inherit { 
  font-size: 11px;
}
.center-wrapper{
text-align: center;
}
.center-wrapper * {
margin: 0 auto;
}
.ui-li-has-alt .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-alt {
padding-right: 40px;
}
</style>
</head>
<!-- <body> -->
  <%= yield %>
<!-- </body> -->
</html>



